-
  const normalize = {
    path: '../../css/normalize.css',
    integrity: 'fVquC3DHMyHQJ7MasHkVMX2RLx5O6r2+Eh/NB9eZUSRGntVASwPIr1DFKzSpwTxD'
  };

  const screen = {
    path: '../../stylesheets/screen.css',
    integrity: ''
  };
  
  const icomoon = {
    path: 'icomoon.css',
    integrity: ''
  };

  const abonnement = {
    path: 'abonnement.css',
    integrity: ''
  };

doctype html

html(lang='fr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0' name='viewport')
    title= 'Abonnement - La Boite à histoires'
    link(href=normalize.path, rel='stylesheet')
    link(href=screen.pat, rel='stylesheet')
    link(href=icomoon.path, rel='stylesheet')
    link(href=abonnement.path, rel='stylesheet')

  body
    h1(class='text-underlined')= 'Abonnement'
    
    section(class='cards-container')

      - const cards = ['3 mois', '6 mois', '1 an'];
    
      each title in cards
        div(class='card')
          h3= title
          p(class='card__description text-justified')= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam ex eget mi venenatis viverra. Sed in urna massa. Pellentesque ligula urna, ornare et orci sit amet, viverra laoreet sapien. Nulla suscipit magna maximus nisl ultrices luctus. Phasellus congue ac elit at pulvinar. Aliquam ac finibus nisl, sit amet vehicula felis. Nullam lobortis quam ac auctor vehicula.'
          p(class='card__price')= 'Prix: 29.90€'
    div(class='toggle-offering')
      p(class='toggle-offering__text')= 'Personel'
      span(class='icon-toggle-off icon-2x')
      p(class='toggle-offering__text')= 'Offrir'
    
    section(class='connexion')
      h2(class='text-underlined')= 'Connection (facultatif)'
      h3!= `Si vous possédez un compte, vous pouvez vous connecter ici. Sinon, vous pouvez également en créer un avant d'être redirigé vers la page de paiement en cliquant <a href='#'>ici</a>.`
      div(class='connexion__container')
        form(action='', method='post')
          div
            label(for='email')='Courriel:'
            input(id='email', placeholder='martin.dupont@posteo.de', type='email')
          div
            label(for='password')='Mot de passe:'
            input(id='password', type='password')
          div
            button(type='submit')='Se connecter'
    button(type='button', class='aligned-self--center')= 'Procéder au paiement'
  script(async, src='abonnement.js')